/* PrismJS 1.29.0
https://prismjs.com/download.html#languages=clike+bash+c+cpp */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

/* Light (default) and Sepia */

body.light,
body.sepia {
	--code-color: #000000;
	--code-shadow: #ffffff;
	--code-selection: #b3d4fc;
	--code-background: #f5f2f0;
	--code-comment: #708090; /* slategray */ /* comment, prolog, doctype, cdata */
	--code-punctuation: #999999;
	--code-constant-property: #990055; /* property, tag, constant, symbol, deleted */
	--code-common-primitive: #990055; /* boolean, number */
	--code-string: #669900; /* selector, attr-name, string, char, builtin, inserted */
	--code-operator: #9a6e3a; /* operator, entity, url, string */
	--code-operator-background: hsl(0deg 0% 100% / 50%); /* operator, entity, url, string */
	--code-variable: #ee9900;
	--code-atrule-value: #0077aa; /* atrule, attr-value */
	--code-function-class: #dd4a68; /* function, class-name */
	--code-keyword: #0077aa;
	--code-regex: #ee9900; /* regex, important, variable */
}

/* Dark */

body.dark {
	--code-color: #f8f8f2;
	--code-shadow: rgb(0 0 0 / 30%);
	--code-selection: #004696;
	--code-background: #272822;
	--code-comment: #8292a2;
	--code-punctuation: #f8f8f2;
	--code-constant-property: #f92672;
	--code-common-primitive: #ae81ff;
	--code-string: #a6e22e;
	--code-operator: #f8f8f2;
	--code-operator-background: transparent;
	--code-variable: #f8f8f2;
	--code-atrule-value: #e6db74;
	--code-function-class: #e6db74;
	--code-keyword: #66d9ef;
	--code-regex: #fd971f;
}

/* Prism */

code[class*="language-"],
pre[class*="language-"] {
	color: var(--code-color);
	background: none;
	text-shadow: 0 1px var(--code-shadow);
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 4;
	-webkit-hyphens: none; /* Safari fallback */
	hyphens: none;
}

/* Code selection */

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
	text-shadow: none;
	background: var(--code-selection);
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */

pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: var(--code-background);
}

/* Inline code */

:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

/* Tokens */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--code-comment);
}
.token.punctuation {
	color: var(--code-punctuation);
}
.token.namespace {
	opacity: 0.7;
}
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: var(--code-constant-property);
}
.token.boolean,
.token.number {
	color: var(--code-common-primitive);
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: var(--code-string);
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: var(--code-operator);
	background: var(--code-operator-background);
}
.token.variable {
	color: var(--code-variable);
}
.token.atrule,
.token.attr-value {
	color: var(--code-atrule-value);
}
.token.keyword {
	color: var(--code-keyword);
}
.token.function,
.token.class-name {
	color: var(--code-function-class);
}
.token.regex,
.token.important {
	color: var(--code-regex);
}
.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}
