@charset "utf-8";

:root {
	--white: #ffffff;
	--dark-cyan: rgb(0 180 200);
	--cyan: rgb(0 200 230);
	--pale-grey: #f7f7f7;
	--lightest-grey: #ececec;
	--lighter-grey: #dadada;
	--light-grey: #d4d4d4;
	--smoky-grey: #a0a0a0;
	--grey: #878787;
	--medium-grey: #6e6e6e;
	--deep-grey: #454545;
	--dark-grey: #333333;
	--darker-grey: #2b2b2b;
	--darkest-grey: #202020;
	--black: #000000;

	/* Text */
	--text-indent: 1.5625em;

	/* Animation */
	--background-change-time: .3s;
	--menu-open-duration: .35s;
	--nav-transition-duration: .25s;
	--modal-transition-duration: .2s;

	/* Paddings & Corners */
	--corner-radius: 15px;
	--menu-padding: 20px;
}

@media screen and (min-width: 780px) {
	::-webkit-scrollbar {
		width: 9px;
		height: 5px;
	}
	::-webkit-scrollbar-track {
		background-color: var(--scrollbar-background);
	}
	::-webkit-scrollbar-thumb {
		min-height: 32px;
		min-width: 32px;
		background-color: var(--scrollbar-thumb);
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: var(--scrollbar-thumb-hover);
	}
	::-webkit-scrollbar-thumb:active {
		background-color: var(--scrollbar-thumb-active);
	}

	body::-webkit-scrollbar-thumb {
		border-left: 1px solid var(--scrollbar-background);
	}
	.article-table::-webkit-scrollbar-thumb {
		border: none;
		border-bottom: 1px solid var(--scrollbar-background);
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
* {
	scrollbar-width: thin;
}
body {
	background-color: var(--page-background);
	font-family: Roboto, "Open Sans", "Helvetica Neue", Ubuntu, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	color: var(--page-foreground);
	line-height: 1.375;
	letter-spacing: 0;
	scroll-behavior: smooth;
}

/* Light (default) */

body.light,
.color-icon.light {
	--page-background: var(--pale-grey);
	--page-foreground: var(--black);
	--page-light-foreground: var(--pale-grey);
	--page-elements-background: var(--white);
	--page-elements-border: var(--lightest-grey);
	--page-accent: var(--cyan);
	--page-link: var(--dark-cyan);
	--page-caption: var(--deep-grey);
	--page-additional: var(--medium-grey);
	--content-link: var(--deep-grey);
	--content-border: var(--light-grey);
	--settings-background: var(--lightest-grey);
	--settings-border: var(--lighter-grey);
	--settings-text: var(--dark-grey);
	--settings-hover: var(--pale-grey);
	--settings-range: var(--lighter-grey);
	--settings-range-hover: var(--smoky-grey);
	--settings-range-active: var(--grey);
	--scrollbar-background: var(--lighter-grey);
	--scrollbar-thumb: var(--smoky-grey);
	--scrollbar-thumb-hover: var(--grey);
	--scrollbar-thumb-active: var(--medium-grey);
	--tooltip-background: rgb(19 19 19 / 90%);
}

/* Dark */

body.dark,
.color-icon.dark {
	--page-background: var(--dark-grey);
	--page-foreground: var(--white);
	--page-light-foreground: var(--white);
	--page-elements-background: var(--darkest-grey);
	--page-elements-border: var(--darker-grey);
	--page-accent: var(--cyan);
	--page-link: var(--cyan);
	--page-caption: var(--smoky-grey);
	--page-additional: var(--grey);
	--content-link: var(--light-grey);
	--content-border: var(--grey);
	--settings-background: var(--darker-grey);
	--settings-border: var(--darkest-grey);
	--settings-text: var(--lightest-grey);
	--settings-hover: var(--deep-grey);
	--settings-range: var(--medium-grey);
	--settings-range-hover: var(--grey);
	--settings-range-active: var(--smoky-grey);
	--scrollbar-background: var(--darkest-grey);
	--scrollbar-thumb: var(--medium-grey);
	--scrollbar-thumb-hover: var(--grey);
	--scrollbar-thumb-active: var(--smoky-grey);
	--tooltip-background: rgb(0 0 0 / 90%);
}

/* Sepia (based on Light) */

body.sepia,
.color-icon.sepia {
	--page-background: #f4ecd8;
	--page-foreground: #5b4636;
	--page-light-foreground: var(--pale-grey); /* from Light */
	--page-elements-background: #fffae6;
	--page-elements-border: #dbd2b2;
	--page-accent: var(--cyan); /* from Light */
	--page-link: var(--dark-cyan); /* from Light */
	--page-caption: var(--deep-grey); /* from Light */
	--page-additional: var(--medium-grey);
	--content-link: var(--deep-grey); /* from Light */
	--content-border: var(--light-grey); /* from Light */
	--settings-background: #ebe7d5;
	--settings-border: var(--light-grey);
	--settings-text: var(--deep-grey);
	--settings-hover: #d1c4a2;
	--settings-range: var(--lighter-grey); /* from Light */
	--settings-range-hover: #dfc7a7;
	--settings-range-active: #cbb294;
	--scrollbar-background: #fffae6;
	--scrollbar-thumb: var(--smoky-grey); /* from Light */
	--scrollbar-thumb-hover: var(--grey); /* from Light */
	--scrollbar-thumb-active: var(--medium-grey); /* from Light */
	--tooltip-background: rgb(25 19 10 / 90%);
}

/* Animation */

.change-animation * {
	transition: all 0s linear !important;
}
.change-animation .modal-item-options input[type="range"]::-webkit-slider-runnable-track {
	transition: all 0s linear !important;
}
.change-animation .modal-item-options input[type="range"]::-moz-range-track {
	transition: all 0s linear !important;
}

/* Basic elements */

a {
	text-decoration: none;
	padding: 0 2px;
	transition: color .2s ease-in-out, border-bottom-color .2s ease-in-out;
	color: inherit;
	border-bottom: 1px solid transparent;
}
a:hover {
	border-bottom-color: var(--page-accent);
}
a:active {
	color: var(--page-accent);
}
hr {
	border: none;
}
svg {
	fill: var(--page-foreground);
}
ul,
menu {
	list-style-type: none;
}
input,
textarea,
select,
button {
	color: inherit;
	font: inherit;
	appearance: none;
	outline: none;
	border: none;
	padding: 0;
	border-radius: 0;
	background-color: transparent;
}
pre {
	margin: 0 !important;
	white-space: pre-wrap !important;
}
code {
	white-space: pre-wrap !important;
}

/* Utilities */

.no-display {
	display: none !important;
}
.no-visible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	-webkit-clip-path: inset(50%); /* Chromium-based fallback */
	overflow: hidden;
	white-space: nowrap;
}
.page-element {
	transition: background-color var(--background-change-time) linear;
}
.view-m {
	display: none;
}
.view-t {
	display: none;
}
.view-d {
	display: block;
}
.bg-container {
	position: absolute;
	inset: 0;
	top: 0; /* Safari fallback */
	left: 0; /* Safari fallback */
	bottom: 0; /* Safari fallback */
	right: 0; /* Safari fallback */
	overflow: hidden;
	width: 100%;
	pointer-events: none;
}
.bg-container img {
	position: fixed;
	top: 0;
	left: 0;
	max-width: 100vw;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}
.bg-image-preview {
	z-index: 1;
}
.bg-image-placeholder {
	z-index: 2;
}
.bg-image {
	z-index: 3;
}
.visible {
	visibility: visible;
	opacity: 1;
	transition: opacity var(--background-change-time) linear;
}
.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s var(--background-change-time) linear, opacity var(--background-change-time) linear;
}
.navigation-content,
.additional-panel,
.page-element,
footer {
	z-index: 5;
}

/* Text styles */

.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.text-icon {
	font-size: 1.5rem;
}

/* Page containers */

.page-container {
	display: grid;
	grid-template-columns: 75px auto 0;
}
main {
	max-width: 1155px; /* clamp() */
	margin: 0 auto;
}

/* Page navigation */

.navigation-wrapper {
	position: relative;
	height: 100vh;
	width: 75px;
}
.navigation-container {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 75px;
	z-index: 6;
	background-color: var(--page-elements-background);
	border-right: 1px solid var(--page-elements-border);
}
.navigation-container > div {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.navigation-container .navigation-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.navigation-container nav .logo-text {
	font-weight: bold;
}
.navigation-container nav .logo-text span:first-child {
	color: var(--page-accent);
}
.navigation-container nav .logo-text span:last-child {
	color: var(--page-foreground);
}
.navigation-container ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.navigation-container ul svg {
	height: 100%;
	width: 100%;
	vertical-align: top;
	transition: fill var(--nav-transition-duration) ease-in-out;
}
.nav-item {
	position: relative;
	display: block;
	padding: 20px 25px;
	letter-spacing: .5px;
	border: none;
}
.nav-active,
.expand-item {
	transition: color var(--nav-transition-duration) ease-in-out;
	cursor: pointer;
}
.nav-icon-container {
	display: block;
	height: 1.7rem;
	width: 1.7rem;
}
.nav-icon-container img {
	height: 100%;
	width: 100%;
}
.nav-item-name {
	color: var(--white);
	font-size: 0.9375rem;
	white-space: nowrap;
}

@media (hover) {
	.nav-item:hover svg {
		fill: var(--page-accent);
	}
	.fly-out-tip {
		visibility: hidden;
		z-index: 9;
		position: absolute;
		max-width: 25rem;
		background-color: var(--tooltip-background);
		padding: max(0.4375em, 5px);
		opacity: 0;
		transition-property: visibility, opacity, transform;
		transition-duration: var(--nav-transition-duration);
		transition-timing-function: ease-in-out;
	}
	.fly-out-right {
		top: 25%;
		bottom: 25%;
		left: calc(100% + max(0.4375em, 5px));
		transform: translateX(-5px);
	}
	.fly-out-tip::after {
		content: "";
		position: absolute;
		border-width: max(0.4375em, 5px);
		border-style: solid;
		border-color: transparent;
	}
	.fly-out-right::after {
		right: 100%;
		top: 50%;
		margin-top: calc(max(0.4375em, 5px) * -1);
		border-right-color: var(--tooltip-background);
	}
	.nav-item:hover .nav-icon-container + .fly-out-tip {
		visibility: visible;
		opacity: 1;
	}
	.nav-item:hover .nav-icon-container + .fly-out-right {
		transform: translateX(0);
	}
}

@media screen and (min-width: 1200px) {
	.show-block-list {
		display: none;
	}
	.show-block--toggle-checkbox:checked ~ .show-block-list {
		display: block;
	}
	.show-block--toggle-checkbox:checked ~ .show-block-overlay {
		position: absolute;
		height: 100vh;
		width: 100vw;
		top: 0;
		left: 0;
		overflow: hidden;
	}
	.show-block--toggle-checkbox:checked ~ .show-block-item svg {
		fill: var(--page-accent);
	}
	.show-block--toggle-checkbox:checked ~ .show-block-item .nav-item-name {
		display: none;
	}
	.language-list {
		background-color: var(--page-elements-background);
		border-right: 1px solid var(--page-elements-border);
		padding: 0.5rem 0;
		z-index: 9;
		position: absolute;
		max-width: 25rem;
		min-width: 15rem;
		bottom: 140px;
		left: calc(100% + max(0.4375em, 5px));
	}
	.language-list ul {
		align-items: stretch;
	}
	.language-list li {
		transition: background-color var(--nav-transition-duration) ease-in-out;
	}
	.language-list li:hover {
		background-color: var(--page-background);
	}
}

.language-list li {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: .2rem;
	padding: .4rem 1.25rem;
}
.language-list li .sub-language {
	color: var(--page-additional);
	font-size: 0.85rem;
}
.language-list li.selected {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto;
}
.language-list li.selected span {
	grid-column: 1 / 2;
}
.language-list li.selected .select-mark {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	align-self: center;
}
.language-list li.selected .select-mark svg {
	width: 20px;
	max-height: 1.5rem;
	vertical-align: middle;
	fill: var(--page-additional);
}
.navigation-container .additional-panel {
	justify-content: flex-end;
}
.scroll-btn {
	display: block;
}
.scroll-down {
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px 25px;
}
.scroll-container.active .scroll-up,
.scroll-container:not(.active) .scroll-down {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s var(--background-change-time) linear, opacity var(--background-change-time) linear;
}
.scroll-container.active .scroll-down,
.scroll-container:not(.active) .scroll-up {
	visibility: visible;
	opacity: 1;
	transition: opacity var(--background-change-time) linear;
}

/* Modal window */

.modal-container {
	visibility: hidden;
	pointer-events: none;
}
.modal-wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	position: fixed;
	z-index: 31;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	visibility: hidden;
	overflow: hidden auto;
	-webkit-overflow-scrolling: touch; /* Safari on iOS fallback */
	pointer-events: none;
}
.modal-dialog {
	z-index: 32;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	flex-grow: 0;
	width: 100%;
	min-height: 100%;
	margin: auto;
}
.modal-window {
	background-color: var(--page-background);
	border: 1px solid var(--settings-background);
	position: relative;
	min-width: 350px;
	max-width: 50%;
	margin: 50px 0;
	overflow: visible;
	transition: transform var(--modal-transition-duration) ease-out 0s, opacity var(--modal-transition-duration) ease-out 0s;
	transform: scale(0.95);
	opacity: 0;
}
.modal--active .modal-window {
	transform: scale(1);
	opacity: 1;
}
.modal--active,
.modal--move {
	visibility: visible;
	pointer-events: auto;
}
.modal--opened,
.freeze-container {
	position: fixed;
	right: 0;
	left: 0;
	overflow: hidden;
}
.modal-content {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.modal-header {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background-color: var(--page-elements-background);
	border-bottom: 1px solid var(--settings-background);
}
.modal-title {
	width: 100%;
	font-size: 1.15rem;
	font-weight: bold;
	text-align: center;
}
.modal-close {
	position: absolute;
	right: 15px;
	margin-top: 2px;
	padding: 7px;
	cursor: pointer;
}
.modal-close svg {
	display: block;
	height: 20px;
	width: 20px;
}
.modal-overlay {
	position: fixed;
	z-index: 30;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgb(0 0 0 / 40%);
	pointer-events: none;
	overflow: hidden;
	transition: opacity var(--modal-transition-duration) ease-out;
	opacity: 0;
}
.modal-overlay.modal--active {
	opacity: 1;
}
.modal-item {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 5px;
}
.modal-item.one-line {
	grid-template-columns: minmax(170px, 3fr) 4fr;
	grid-template-rows: 1fr;
	align-items: center;
}
.modal-item.disabled {
	opacity: 0.75;
	color: var(--page-additional);
	-webkit-user-select: none; /* Safari fallback */
	user-select: none;
	-webkit-touch-callout: none; /* Safari on iOS fallback */
}
.modal-item.disabled .modal-item-options.radio-group {
	background-color: transparent;
}
.modal-item-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1.05rem;
}
.modal-item-title > svg {
	height: 1.25rem;
	width: 1.25rem;
	margin-right: 0.5rem;
	display: inline-block;
}
.modal-item.disabled > .modal-item-title > svg {
	fill: var(--page-additional);
}
.modal-item-options {
	display: grid;
	margin-top: 4px;
	overflow: hidden;
}
.modal-item-options.grid-columns-2 {
	grid-template-columns: 1fr 1fr;
}
.modal-item-options.grid-columns-3 {
	grid-template-columns: 1fr 1fr 1fr;
}
.modal-item-options.grid-columns-6-1-1 {
	grid-template-columns: 6fr 1fr 1fr;
}
.modal-item-options.grid-columns-10-1 {
	grid-template-columns: 10fr minmax(50px, 1fr);
}
.modal-item-options input[type="radio"] {
	display: none;
}
.modal-item-options input[type="number"] {
	appearance: textfield;
}
.modal-item-options input[type="number"]::-webkit-inner-spin-button,
.modal-item-options input[type="number"]::-webkit-outer-spin-button {
	appearance: none;
}
.modal-item-options input[type="number"]:disabled {
	pointer-events: none;
	-webkit-user-select: none; /* Safari fallback */
	user-select: none;
	-webkit-touch-callout: none; /* Safari on iOS fallback */
}
.modal-item-options input[type="range"] {
	width: 100%;
	background-color: transparent;
}
.modal-item-options input[type="range"]:focus {
	outline: none;
}
.modal-item-options input[type="range"]:disabled {
	background-color: transparent;
	pointer-events: none;
}
.modal-item-options input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 6px;
	border: none;
	border-radius: 3px;
	transition: background-color .3s linear;
}
.modal-item-options input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	height: 16px;
	width: 16px;
	margin-top: -5px;
	border: none;
	border-radius: 50%;
}
.modal-item-options input[type="range"]::-moz-range-track {
	width: 100%;
	height: 6px;
	border: none;
	border-radius: 3px;
	transition: background-color .3s linear;
}
.modal-item-options input[type="range"]::-moz-range-thumb {
	height: 16px;
	width: 16px;
	border: none;
	border-radius: 50%;
}
.modal-item-options input[type="range"]:enabled::-webkit-slider-runnable-track {
	background-color: var(--settings-range);
}
.modal-item-options input[type="range"]:enabled::-webkit-slider-thumb {
	background-color: var(--page-accent);
}
.modal-item-options input[type="range"]:enabled:hover::-webkit-slider-runnable-track {
	background-color: var(--settings-range-hover);
}
.modal-item-options input[type="range"]:enabled:active::-webkit-slider-runnable-track {
	background-color: var(--settings-range-active);
}
.modal-item-options input[type="range"]:disabled::-webkit-slider-runnable-track {
	background-color: var(--settings-range);
}
.modal-item-options input[type="range"]:disabled::-webkit-slider-thumb {
	background-color: var(--settings-range);
}
.modal-item-options input[type="range"]:enabled::-moz-range-track {
	background-color: var(--settings-range);
}
.modal-item-options input[type="range"]:enabled::-moz-range-thumb {
	background-color: var(--page-accent);
}
.modal-item-options input[type="range"]:enabled:hover::-moz-range-track {
	background-color: var(--settings-range-hover);
}
.modal-item-options input[type="range"]:enabled:active::-moz-range-track {
	background-color: var(--settings-range-active);
}
.modal-item-options input[type="range"]:disabled::-moz-range-track {
	background-color: var(--settings-range);
}
.modal-item-options input[type="range"]:disabled::-moz-range-thumb {
	background-color: var(--settings-range);
}
.modal-item-options.radio-group,
.modal-item-options.number-input {
	border: 1px solid var(--settings-border);
}
.modal-item-options.radio-group {
	background-color: var(--settings-background);
}
.modal-item-options.radio-group label {
	text-align: center;
	color: var(--settings-text);
	padding: 8px;
	transition: color .2s ease-in-out, background-color .2s ease-in-out;
	cursor: pointer;
	align-content: center;
	-webkit-user-select: none; /* Safari fallback */
	user-select: none;
	-webkit-touch-callout: none; /* Safari on iOS fallback */
	border-bottom: 2px solid transparent;
}
.modal-item-options.radio-group label:hover {
	background-color: var(--settings-hover);
	color: var(--page-foreground);
}
.modal-item-options.radio-group input[type="radio"]:checked + label {
	background-color: var(--page-elements-background);
	box-shadow: 0 0 7px 0 rgb(0 0 0 / 10%);
	color: var(--page-foreground);
	cursor: default;
	z-index: 33;
	border-bottom-color: var(--page-accent);
}
.modal-item-options.radio-group input[type="radio"]:disabled + label {
	pointer-events: none;
}
.modal-item-options.radio-group input[type="radio"]:checked:disabled + label {
	background-color: transparent;
	color: inherit;
}
.modal-item-options.radio-group input[type="radio"]:checked + label > span {
	/* font-weight: bold; */
}
.modal-item-options.number-input button {
	position: relative;
	margin: 0;
	padding: 0;
	min-width: 2.5rem;
	background-color: var(--page-elements-background);
	transition: background-color .2s ease-in-out;
	cursor: pointer;
}
.modal-item-options.number-input button:hover {
	background-color: var(--settings-hover);
}
.modal-item-options.number-input button:nth-last-of-type(2) {
	border-right: 1px solid var(--settings-border);
}
.modal-item-options.number-input button::before,
.modal-item-options.number-input button::after {
	display: inline-block;
	position: absolute;
	content: "";
	width: 0.8rem;
	height: 2px;
	background-color: var(--page-foreground);
	transform: translate(-50%, -50%);
}
.modal-item-options.number-input button.plus::after {
	transform: translate(-50%, -50%) rotate(90deg);
}
.modal-item-options.number-input button:disabled {
	pointer-events: none;
	background-color: transparent;
}
.modal-item-options.number-input button:disabled::before,
.modal-item-options.number-input button:disabled::after {
	background-color: var(--page-additional);
}
.modal-item-options.number-input input[type="number"] {
	padding: .5rem;
	text-align: center;
	background-color: var(--settings-background);
	border-right: 1px solid var(--settings-border);
	transition: background-color .2s ease-in-out;
}
.modal-item-options.number-input input[type="number"]:focus {
	background-color: var(--page-elements-background);
}
.modal-item-options.number-input input[type="number"]:disabled {
	background-color: transparent;
}
.modal-item-options.radio-grid {
	gap: 10px;
	justify-items: center;
}
.modal-item-options.radio-grid > label {
	border: 2px solid transparent;
	min-height: 64px;
	width: 100%;
	max-width: 200px;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none; /* Safari fallback */
	user-select: none;
	-webkit-touch-callout: none; /* Safari on iOS fallback */
}
.modal-item-options.radio-grid > label img {
	height: 100%;
	width: 100%;
	display: block;
	pointer-events: none;
}
.modal-item-options.radio-grid input[type="radio"]:checked + label {
	border-color: var(--page-accent);
	cursor: default;
}
.modal-item-options.radio-grid .no-background-image {
	border: 2px solid var(--settings-border);
}
.modal-item-options.radio-grid.select-image .no-background-image figure {
	background-color: var(--page-background);
}
.modal-item-options.radio-grid.select-image figure {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.modal-item-options.radio-grid.select-image figure figcaption {
	position: absolute;
	width: 100%;
	bottom: -5rem;
	padding: .3rem .5rem;
	text-align: center;
	color: var(--white);
	user-select: text;
	background-color: rgb(0 0 0 / 50%);
	transition: bottom .4s ease-out;
}
.modal-item-options.radio-grid.select-image label:hover figure figcaption {
	bottom: 0;
}
.modal-item-options.range-input {
	grid-column-gap: 10px;
	align-items: center;
}
.modal-item-options.range-input span {
	text-align: right;
}
.modal-item-options.range-input span::after {
	content: "%";
	margin-left: 2px;
}
.modal-item-options .color-icon {
	height: 2.7rem;
	width: 2.7rem;
	margin: 0 auto;
	background: var(--page-elements-background) linear-gradient(125deg, var(--page-elements-background) 0% 50%, var(--page-elements-border) 50% 100%);
	border: 2px solid var(--page-elements-border);
	border-radius: 50%;
}
.modal-item-options.radio-group input[type="radio"]:checked + label > .color-icon {
	border-color: var(--page-accent);
}

/* Article layout */

.article-page {
	display: grid;
	grid-template-areas:
		"article side"
		"pagination side";
	grid-template-columns: 1fr 320px;
	grid-template-rows: auto 56px;
}
.article-page.single-page {
	grid-template-areas: "article side";
	grid-template-rows: auto;
}
.article-page.single-page .pagination,
.article-page.first-page .pagination-button.prev,
.article-page.last-page .pagination-button.next {
	display: none;
}

/* Article fonts */

.article.sans-serif,
.side.serif,
.text-icon.sans-serif {
	font-family: Roboto, "Open Sans", "Helvetica Neue", Ubuntu, Arial, sans-serif;
}
.article.serif,
.side.serif,
.text-icon.serif {
	font-family: Georgia, "Times New Roman", serif;
}

/* Article elements */

.article-page .article,
.article-page .side {
	background-color: var(--page-elements-background);
	border: 1px solid var(--page-elements-border);
}
.article-page .article {
	grid-area: article;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	padding: 20px 50px 30px;
	overflow-x: hidden;
}
.article header {
	display: flex;
	flex-direction: column;
	row-gap: .5em;
}
.article .languages-list {
	border-bottom: 1px solid var(--content-border);
	padding-bottom: 1em;
}
.row-list,
.block-list .block-list-item {
	display: flex;
	flex-flow: row wrap;
	column-gap: .25em;
	align-items: center;
}
.row-list,
.block-list .block-list-item,
.article .translation-info {
	font-size: 0.9375em;
	color: var(--content-link);
}
.row-list svg,
.block-list .block-list-item svg,
.article .translation-info svg {
	height: 1.375em;
	width: 1em;
	min-width: 1em;
	margin-right: .3em;
	vertical-align: bottom;
}
.row-list .row-list-item:not(:last-child)::after {
	content: ",";
	margin-right: .1em;
}
.row-list .row-list-item a {
	padding: 0;
	color: var(--page-link);
	font-style: italic;
}
.block-list {
	display: flex;
	flex-direction: row;
	column-gap: min(3em, 3rem);
}
.article h1 {
	margin-top: .5em;
	font-weight: bold;
	font-size: 1.75em;
	line-height: 1.2;
	letter-spacing: -0.02em;
}
.article h2 {
	margin-top: 10px;
	font-size: 1.5em;
	line-height: 1.2;
}
.article h3 {
	margin-top: 7px;
	font-size: 1.25em;
	line-height: 1.15;
}
.article h4 {
	margin-top: 5px;
	font-size: 1.05em;
	line-height: 1.375;
}
.article h5 {
	margin-top: 3px;
	font-size: .95em;
	line-height: 1.6;
}
.article h6 {
	font-size: .85em;
	line-height: 1.96;
}
.article p {
	text-align: justify;
	line-height: 1.5;
}
.article > p {
	text-indent: var(--text-indent);
}
.article ul,
.article ol {
	line-height: 1.5em;
}
.article ul {
	padding-left: 2.8125em;
	list-style-type: disc;
}
.article ul ul {
	list-style-type: circle;
}
.article ul ul ul {
	list-style-type: square;
}
.article ol {
	padding-left: var(--text-indent);
	counter-reset: section;
	list-style-type: none;
}
.article ol li::before {
	counter-increment: section;
	content: counters(section, ".") ". ";
}
.article blockquote {
	padding: 0.5em 0 0.5em calc(var(--text-indent) - 4px);
	border-left: min(0.25em, 4px) solid var(--page-accent);
}
.article blockquote > p:not(:last-child) {
	padding-bottom: 1em;
}
.article > hr {
	height: 1px;
	width: 70%;
	margin: 1.5em auto;
	background-color: var(--page-additional);
}
.article-table {
	overflow-x: auto;
}
.article-table table {
	border: 1px solid var(--content-border);
	border-collapse: collapse;
	min-width: 100%;
	width: auto;
}
.article-table table caption {
	caption-side: bottom;
	padding-top: 0.625em;
	font-size: .85em;
	line-height: 1.5;
	color: var(--page-caption);
}
.article-table table th,
.article-table table td {
	padding: 0.3125em 0.625em;
	border: 1px solid var(--content-border);
	line-height: 1.5;
	text-align: center;
	min-width: 100px;
	font-size: 0.9375em;
}
.article-image {
	width: 100%;
	margin: 0.5em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.article-image img {
	max-width: 100%;
	color: var(--page-caption);
}
.article-image img[alt] {
	background-color: var(--page-elements-border);
	text-indent: 7px;
	line-height: 1em;
}
.article-image figcaption {
	padding-top: 0.625em;
	text-align: center;
	font-size: .85em;
	line-height: 1.5;
	color: var(--page-caption);
}
.article .in-text-tooltip {
	position: relative;
	border-bottom: 1px dashed var(--page-foreground);
	padding: 0 2px;
	cursor: help;
}
.article .in-text-tooltip .tooltip-content {
	visibility: hidden;
	z-index: 9;
	position: absolute;
	bottom: 125%;
	left: 50%;
	width: 16em;
	margin-left: -8em;
	padding: max(0.4375em, 5px);
	border-radius: max(0.4375em, 5px);
	opacity: 0;
	transition-property: visibility, opacity, transform;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
	background-color: var(--tooltip-background);
	color: var(--white);
	text-align: center;
	text-indent: 0;
	cursor: text;
	transform: translateY(-10px);
}
.article .in-text-tooltip .tooltip-content::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: calc(max(0.4375em, 5px) * -1);
	border-width: max(0.4375em, 5px);
	border-style: solid;
	border-color: var(--tooltip-background) transparent transparent transparent;
}
.article .in-text-tooltip:hover .tooltip-content,
.article .in-text-tooltip:focus .tooltip-content {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}
.article .link {
	padding: 0 1px;
	border-bottom-color: transparent;
	border-bottom-width: 1px;
	color: var(--page-link);
	font-style: italic;
}
.article .link:hover {
	border-bottom-color: var(--page-link);
}

/* Article Side Navigation */

.article-page .side-wrapper {
	position: relative;
	height: 100vh;
	width: 320px;
}
.article-page .side {
	grid-area: side;
	position: fixed;
	top: 0;
	max-height: 100vh;
	height: 100vh;
	width: 320px;
	padding: 15px 20px 20px;
	border-left-color: transparent;
	overflow-y: auto;
}
.article-contents-header {
	padding: 5px 10px;
}
.article-contents-title {
	font-size: 1.125rem;
	font-weight: bold;
}
.article-contents-list {
	margin-top: 7px;
	border-top: 1px solid var(--content-border);
	padding-left: 3px;
	padding-top: 7px;
	font-size: 0.9375rem;
}
.article-contents-list .current-article {
	font-weight: bold;
}
.article-contents-list ul ul {
	border-left: 1px solid var(--content-border);
}
.article-contents-list ol {
	counter-reset: section;
	list-style-type: none;
}
.article-contents-list ol ol {
	padding-left: var(--text-indent);
}
.article-contents-list li {
	color: var(--content-link);
	line-height: 1.75;
}
.article-contents-list ul:not(:first-child) li {
	padding-left: 1rem;
}
.article-contents-list ol li::before {
	counter-increment: section;
	content: counters(section, ".") ". ";
	color: var(--grey);
}
.article-contents-list a {
	transition: color .15s ease-in-out, border-bottom-color .15s ease-in-out;
	padding: 0 1px;
}
.article-contents-list a:hover {
	color: var(--page-foreground);
}

/* Article pagination */

.article-page .pagination {
	grid-area: pagination;
	display: flex;
	flex-direction: row;
}
.pagination-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 15px;
	padding: 27px 15px;
	border-width: 0;
	border-color: var(--page-elements-border);
	border-style: solid;
	border-bottom-width: 2px;
	background-color: var(--page-elements-background);
	transition: color .3s ease-in-out, border-bottom-color .3s ease-in-out, gap .3s ease-in-out, background-color var(--background-change-time) linear;
	width: 100%;
	width: -webkit-fill-available;
	width: -moz-available;
}
.pagination-button:first-child {
	border-left-width: 1px;
}
.pagination-button:last-child {
	border-right-width: 1px;
}
.pagination-button.next {
	flex-direction: row-reverse;
}
.pagination-button svg {
	height: 18px;
	width: 18px;
	transition: fill .3s ease-in-out;
}
.pagination-button:hover {
	color: var(--page-accent);
	border-bottom-color: var(--page-accent);
	gap: 30px;
}
.pagination-button:hover svg {
	fill: var(--page-accent);
}

/* Progress bar */

.progress-bar-wrapper {
	display: none;
}

/* Tree navigation */

ul .tree-item {
	padding-left: 0 !important;
}
.tree-item {
	line-height: 1.6;
}
.tree-item.is-leaf,
.tree-expander {
	padding-left: 1rem !important;
	padding-top: 2px;
	padding-bottom: 2px;
}
.tree-item:not(.is-leaf) > a {
	margin-left: 1rem;
}
.tree-group {
	height: auto;
	max-height: 0;
	overflow: hidden;
	margin-left: 1rem;
}
.tree-expander {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	-webkit-user-select: none; /* Safari fallback */
	user-select: none;
}
.tree-expander-icon {
	position: absolute;
	left: 0;
}
.tree-expander-icon svg {
	height: .7rem;
	max-width: .7rem;
}
.tree-item.is-expanded .tree-group {
	max-height: none;
}
.tree-item.is-expanded .tree-expander-icon svg {
	transform: rotate(90deg);
}

/* Main page */

.main-page {
	background-color: var(--page-elements-background);
	border: 1px solid var(--page-elements-border);
	padding: 20px 50px 30px;
}
.main-page .about {
	display: flex;
	flex-direction: column;
	row-gap: 3em;
}
.about-section {
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 3fr 2fr;
	grid-template-areas:
		"header header none"
		"content content image";
	gap: 1.5em 2.5em;
}
.about-section.reverse-direction {
	grid-template-columns: 2fr 3fr;
	grid-template-areas:
		"none header header"
		"image content content";
}
.about-section.reverse-direction header {
	grid-column-start: 2;
}
.about-section.reverse-direction .about-image {
	grid-row-start: 2;
}
.about-section > .about-text {
	grid-area: content;
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}
.about-section > .about-image {
	grid-area: image;
}
.about-section h2 {
	font-size: 2em;
	font-weight: normal;
}
.about-section p {
	text-align: justify;
	font-size: 1.25em;
	line-height: 1.5;
}
.about-section .image-wrapper {
	margin: .5rem auto 0;
	min-height: 150px;
	width: 100%;
}
.about-section .image {
	max-height: 420px;
	min-width: 200px;
	width: 100%;
}

@media screen and (max-width: 1230px) and (min-width: 780px) {
	.navigation-container {
		border-right-color: transparent;
	}
}

@media screen and (max-width: 780px) {
	.view-m {
		display: block;
	}
	.view-t {
		display: none !important;
	}
	.view-d {
		display: none !important;
	}
	.bg-container {
		display: none;
	}
	main {
		margin-top: 0;
		margin-bottom: 51px;
	}
	.page-element {
		z-index: unset;
	}

	.page-container {
		grid-template-columns: 0 auto;
	}

	.menu-wrapper li {
		position: relative;
	}
	.menu-wrapper li svg {
		display: block;
		height: 100%;
		width: 100%;
		max-height: 20px;
		max-width: 1.4rem;
	}
	.menu-bar {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		background-color: var(--page-elements-background);
		border-top: 1px solid var(--page-elements-border);
	}
	.menu-bar menu,
	.menu-bar .submenu-bar {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.menu-bar li a {
		border: none;
	}
	.menu-bar li label,
	.menu-bar li a {
		display: block;
	}
	.menu-bar li label,
	.menu-bar li button,
	.menu-bar li a {
		padding: 15px 20px;
	}
	.submenu-bar li label,
	.submenu-bar li button,
	.submenu-bar li a {
		padding: 15px;
	}
	.submenu-bar {
		margin-right: 5px;
	}
	.page-navigation--toggle-checkbox:checked ~ .menu-wrapper .back-buttons .page-navigation-close,
	.page-navigation--toggle-checkbox:checked ~ .page-container .navigation-container,
	.series-article-contents--toggle-checkbox:checked ~ .menu-wrapper .back-buttons .series-article-contents-close,
	.series-article-contents--toggle-checkbox:checked ~ .page-container .article-page .side .article-contents {
		left: 0;
	}

	.back-btn {
		position: fixed;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition-duration: var(--menu-open-duration);
		transition-timing-function: ease-in-out;
	}
	.back-btn label {
		padding: 15px;
		width: 100%;
	}
	.back-btn svg {
		display: block;
		height: 20px;
		width: 1.3rem;
		margin: 0 auto;
	}
	.back-btn.page-navigation-close,
	.back-btn.series-article-contents-close {
		z-index: 15;
		bottom: 0;
		left: -100vw;
		background-color: var(--page-elements-background);
		border-top: 1px solid var(--settings-background);
		transition-property: left;
	}

	.screen-menu {
		position: fixed;
		height: 100%;
		width: 100%;
		transition-duration: var(--menu-open-duration);
		transition-timing-function: ease-in-out;
	}
	.screen-left {
		top: 0;
		left: -100vw;
		transition-property: left;
	}

	.navigation-wrapper {
		width: 0;
	}
	.navigation-container {
		z-index: 12;
		padding-bottom: 51px;
		border: none;
	}
	.navigation-container > div {
		grid-template-columns: auto;
		justify-content: flex-start;
		overflow-y: auto;
		padding-bottom: 5px;
	}
	.navigation-container .navigation-content {
		justify-content: flex-start;
	}
	.navigation-container .navigation-content ul {
		align-items: flex-start;
	}
	.navigation-container ul li {
		width: 100%;
		max-width: 100%;
	}
	.nav-item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		column-gap: 1rem;
		width: 100%;
		overflow-x: hidden;
		padding: 20px 25px;
		border-left: 5px solid transparent;
	}
	.nav-active,
	.expand-item {
		transition: color var(--nav-transition-duration) ease-in-out, border-left-color var(--nav-transition-duration) ease-in-out;
	}
	.expand-item .expand-item-title {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	.expand-item .expand-item-title .expand-item-icon {
		display: block;
		height: 1rem;
	}
	.expand-item .expand-item-title .expand-item-icon svg {
		max-width: 1.5rem;
		transition: transform var(--nav-transition-duration) ease-in-out, fill var(--nav-transition-duration) ease-in-out;
	}
	.expand-item-list {
		height: auto;
		max-height: 0;
		overflow: hidden;
		transition: height var(--nav-transition-duration) ease-in-out;
	}
	.expand-item--toggle-checkbox:checked ~ .expand-item .expand-item-title svg {
		transform: rotate(180deg);
	}
	.expand-item--toggle-checkbox:checked ~ .expand-item-list {
		max-height: none;
	}
	.nav-active:hover,
	.nav-active:active,
	.expand-item--toggle-checkbox:checked ~ .expand-item {
		border-left-color: var(--page-accent);
	}
	.nav-active:hover .nav-item-name,
	.nav-active:active .nav-item-name,
	.expand-item--toggle-checkbox:checked ~ .expand-item .nav-item-name {
		color: var(--page-accent);
	}
	.nav-active:hover svg,
	.nav-active:active svg,
	.expand-item--toggle-checkbox:checked ~ .expand-item svg {
		fill: var(--page-accent);
	}
	.nav-item-name {
		color: var(--page-foreground);
		font-size: 1rem;
		overflow-x: clip;
		transition: color var(--nav-transition-duration) ease-in-out;
	}
	.language-list li {
		row-gap: 5px;
		padding: 15px 25px 15px 73px;
	}
	.language-list li.selected .select-mark svg {
		width: 22px;
	}

	.modal-wrapper {
		overflow: hidden;
	}
	.modal-dialog {
		justify-content: flex-end;
		flex-shrink: unset;
		flex-grow: unset;
	}
	.modal-window {
		width: 100vw;
		max-width: 100vw;
		border-radius: var(--corner-radius) var(--corner-radius) 0 0;
		overflow: hidden;
		margin: 0;
		border-style: solid none none;
		transform: scale(1) translateY(10px);
	}
	.modal--active .modal-window {
		transform: translateY(0);
	}
	.modal-window#tooltip .modal-title {
		text-align: left;
	}
	.modal-window#tooltip .modal-content {
		display: block;
	}
	.modal-window#tooltip .modal-content strong {
		text-transform: capitalize;
	}
	.modal-window#settings .modal-content {
		padding: 15px;
	}
	.modal-header {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.modal-item {
		grid-template-columns: minmax(150px, 3fr) 4fr;
		align-items: center;
	}
	.modal-item-options.radio-group,
	.modal-item-options.number-input {
		background-color: transparent;
		border: none;
		border-radius: 0;
	}
	.modal-item-options.radio-group label {
		border: none;
		padding: 5px;
	}
	.modal-item-options.radio-group input[type="radio"]:checked + label {
		background-color: transparent;
		box-shadow: none;
	}
	.modal-item-options.radio-group input[type="radio"]:checked + label > span {
		font-weight: bold;
	}
	.modal-item-options.grid-columns-6-1-1.number-input {
		grid-template-columns: 1fr 1fr;
	}
	.modal-item-options.grid-columns-6-1-1.number-input input[type="number"] {
		display: none;
	}
	.modal-item-options.number-input button {
		height: 2.7rem;
		background-color: transparent;
	}
	.modal-item-options.number-input button:nth-last-of-type(2) {
		border: none;
	}
	.modal-item-options.number-input button::before,
	.modal-item-options.number-input button::after {
		width: 1.2rem;
	}
	.modal-item-options.number-input button.plus {
		border-left: 1px solid var(--settings-border);
	}

	.article-page {
		grid-template-areas:
			"article"
			"pagination";
		grid-template-columns: 1fr;
		gap: 10px 0;
	}
	.article-page.single-page {
		grid-template-areas: "article";
		gap: 0;
	}
	.article-page .article {
		padding: 20px;
		border-right: none;
		border-left: none;
		max-width: 100vw;
		overflow-x: hidden;
	}
	.row-list,
	.block-list .block-list-item,
	.article .translation-info {
		line-height: 1.5;
	}
	.block-list {
		flex-direction: column;
		row-gap: 0.5em;
	}
	.article-page .side-wrapper {
		height: auto;
		width: auto;
	}
	.article-page .side {
		background-color: transparent;
		border: none;
		padding: 0;
		position: relative;
		height: auto;
		width: auto;
	}
	.article .in-text-tooltip {
		position: initial;
	}
	.article .in-text-tooltip .tooltip-content {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		margin-left: 0;
		padding: 20px;
		border-radius: var(--corner-radius) var(--corner-radius) 0 0;
		transition-duration: var(--modal-transition-duration);
		background-color: var(--page-elements-background);
		color: var(--page-foreground);
		box-shadow: 0 0 100vh 100vh rgb(0 0 0 / 30%);
		text-align: left;
		transform: translateY(0);
	}
	.article-contents {
		z-index: 14;
		background-color: var(--page-background);
		padding: var(--menu-padding);
		padding-bottom: 71px;
		overflow-y: auto;
	}
	.article-contents-header {
		padding: 0 4px;
	}
	.article-contents-title {
		font-size: 1.15rem;
		line-height: 1.75;
	}
	.article-contents-list a {
		font-size: 1rem;
	}

	.progress-bar-wrapper {
		display: block;
		position: fixed;
		bottom: 51px;
		left: 0;
		right: 0;
		width: 100%;
		height: 3px;
		background-color: transparent;
	}
	.progress-bar {
		width: 0%;
		height: 100%;
		background-color: var(--page-accent);
	}

	.tree-item.is-leaf,
	.tree-expander {
		padding-left: 1.25rem !important;
	}
	.tree-item:not(.is-leaf) > a {
		margin-left: 1.25rem;
	}
	.tree-group {
		margin-left: 1.35rem;
	}
}
